<%- include ('../partials/header') %>
<title>Meta Tags — Preview, Edit and Generate</title>
<meta name="og:title" content="IRC Assetto Corsa Server Invite">
<meta name="og:description" content="Server Name:<%-data.meta.track%>">
<meta name="og:description" content="Track:<%-data.meta.track%>">
<meta property="og:image" content="https://indianracingcommunity.co.in/img/IRC_logo/logo_square_new.png">

<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"> You have been invited to an IRC Assetto Corsa Server</h1>
          <h5>Server Name: <%-data.meta.name%></h5>
          <h5>Track : <%-data.meta.track%></h4>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href="<%-data.link%>" id="join-button" class="btn btn-primary">Join</a>
        </div>
      </div>
    </div>
  </header>

<%- include ('../partials/footer') %>
<script>
window.onload = function(){
  document.getElementById('join-button').click();
}
</script>